{% extends 'base.html.twig' %}

{% block title %}Actualizar historia{% endblock %}

{% block main %}
    
    <main class="w-75 mx-auto mt-5 mb-5">
    <a href="{{ path("app_historia_get", {uid: 'c53169fa-e8ac-4bf4-8d21-0ef73678b489'}) }}">Volver</a>
        <h2>Actualizar historia de la localidad</h2>
            {{ form_start(formulario, {'attr': {'class': 'w-50 m-auto'}} ) }}
            <p>Separe los diferentes párrafos con '//'</p>
            <div class="form-group">
                {{ form_row(formulario.historia, {'attr': {'class': 'form-control mb-4'}} ) }}
            </div>
            <div class="form-group">
                {{ form_row(formulario.enviar, {'attr': {'class': 'btn btn-primary w-100 my-4 m-auto'}} ) }}
                <p>(*) Campo obligatorio </p>
            </div>
            {{ form_end(formulario) }}
    </main>
{% endblock %}

