{% extends 'base.html.twig' %}

{% block title %}Visitas guiadas{% endblock %}


    
{% block main %}
<main class="w-75 mx-auto mt-5 mb-5">
        <section id="search-header" class="row mb-3">
            <div class="col-12 col-md-3 order-1 d-inline-flex justify-content-end h-50">
                <select class="form-select">
                    <option selected value="desc">Descendente</option>
                    <option value="asc">Ascendente</option>
                </select>
            </div>
            <h2 class="text-center col-12 col-md-9 order-0 m-auto mb-3">Listado de búsqueda</h2>
        </section>
        
        <section id="search-results">
            <div class="col-12 mb-3 order-2 list">
                {% for item in visitas %}
                    <div class="element-container row m-5 d-flex" style="height: 20rem">
                        <div class="element-container__img col-12 col-lg-4 p-0">
                            <img src="{{ asset('/media/icons/visita.webp')}}" class="element__img" alt="icono visita">
                        </div>
                        <div class="element-container__text col-12 col-lg-7 ps-4 py-3">
                            <div class="element-container__fav col-12 d-flex justify-content-end">
                                <img src="{{ asset('/media/icons/estrella(1).png') }}" width="35px" class="justify-content-end">
                            </div>
                            <h3>
                                {{ item.titulo }}
                                <img src="{{ asset('/media/icons/monumento_R1T_icon.ico.png') }} width="30px">
                            </h3>
                            <p>{{ item.descripcion }}
                            <p> {{ item.fecha | date("Y-m-d")  }}
                            
                            <p> 
                            {% if item.precio is not null %} 
                                {{ item.precio  }}
                            {% else %} 
                                Gratuita
                            {% endif %}
                            </p>
                            <div class="see-more d-flex justify-content-center align-content-end mt-5">
                            {% if item.guiaTurismo is not null %}
                            
                                <a href="{{ path('app_guia_get', {uid : item.guiaTurismo.uid}) }}" class="col-12 col-lg-4 btn btn-secondary">Más de este guía</a>
                            
                            {% else %}
                                 <a href="{{ path('app_oficina_get', {uid : item.oficinaTurismo.uid}) }}" class="col-12 col-lg-4 btn btn-secondary">Pedir información</a>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </section>


        </main>
{% endblock %}
