{% extends 'base.html.twig' %}

{% block title %}Patrimonio {{ tipo }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $("#advancedButton").on("click", function () {
                console.log("click");
                $("#formFiltros").parent().toggleClass("d-none");
            });
        });

        $(document).ready(function () {
            $('#formFiltros').on("keyup", e => {
                if (e.key === "Escape")
                    e.target.value = ""

                $(".element-container").each(function () {
                    $(this).attr('id').toLowerCase().includes(e.target.value.toLowerCase())
                            ? $(this).removeClass("d-none")
                            : $(this).addClass("d-none")
                })
                if($(".element-container").children(':visible').length == 0){
                    $("#no-results").removeClass('d-none');
                }else{
                    $("#no-results").addClass('d-none');
                }

            })
            
        })
    </script>
{% endblock %}
{% block main %}
    <main class="w-75 mx-auto mt-5 mb-5">
        <section id="search-header" class="row mb-3">
            <div class="col-12 col-md-3 order-1 d-inline-flex justify-content-end h-50">
                <select class="form-select">
                    <option selected value="desc">Descendente</option>
                    <option value="asc">Ascendente</option>
                </select>
            </div>
            <h2 class="text-center col-12 col-md-9 order-0 m-auto mb-3">Listado de búsqueda</h2>
        </section>
        <section class="row d-flex">
            <button class="col-12 col-lg-3 mx-auto btn btn-sm btn-secondary-dark mb-3 align-self-center" id="advancedButton">Búsqueda avanzada</button>
            <div class="col-12 col-lg-5 m-auto d-none">
                <form id="formFiltros">
                    <label for="nombre" class="form-label">Búscar por nombre:
                    </label>
                    <input type="text" name="nombre" id="nombre" class="form-control">
                    <div class="text-center mt-3">
                    </div>
                </form>
            </div>
        </section>

        <section>
            <div class="col-12 mb-3 order-2 list">
                <div class='d-flex justify-content-center my-5'>
                    <p class='d-none' id='no-results'>No hay resultados para tu búsqueda</p>
                </div>
                
                {% for item in arrayPatrimonio %}
                    <div class="element-container row m-5 d-flex" id='{{item.nombre}}'>
                        <div class="element-container__img col-12 col-lg-4 p-0">
                            <img src="{{ asset('/media/') ~ item.imagen }}" class="element__img">
                        </div>
                        <div class="element-container__text col-12 col-lg-7 ps-4 py-3">
                            <div class="element-container__fav col-12 d-flex justify-content-end">
                                <img src="{{ asset('/media/icons/estrella(1).png') }}" width="35px" class="justify-content-end">
                            </div>
                            <h3>{{ item.nombre }}
                                <img src="{{ asset('/media/icons/monumento_R1T_icon.ico') }}" width="30px"></h3>
                            <p>{{ item.descripcion }} </p>
                            <div class="see-more d-flex justify-content-center align-items-center mt-5">
                                <a href="{{ path('app_patrimonio_get', {uid : item.uid}) }}" class="col-12 col-lg-4 btn btn-secondary align-self-center">Ver más</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>


    </main>
{% endblock %}

