
{% extends 'base.html.twig' %}
{% block title %} Gestión de eventos {% endblock %}
{% block main %}
    
    <main class="w-75 mx-auto mt-5 mb-5">
    <a href="{{path('app_admin_menu')}}">Volver</a>
        <h2>Gestión de eventos</h2>
        <div class="messages">
            {% for message in app.flashes('aviso') %}
                 <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <a href="{{ path('app_evento_post') }}" class="btn btn-secondary-dark">Alta</a>
        {% if eventos is empty %}
            <p>Todavía no se han añadido eventos</p>
        {% else %}
        <div class="table-responsive-md">
        <table class="table">
            <th>Título del evento</th>
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Precio</th>
            <th>Tipo de evento</th>
            <th>Cartel o imagen promocional del evento</th>
            {% for item in eventos %}
                <tr>
                    <td>{{ item.titulo }}</td>
                    <td>{{ item.descripcion }}</td>
                    <td>{{ item.fecha | date("d-m-Y") }}</td>
                    <td>{{ item.precio }}</td>
                    <td>{{ item.tipoEvento | capitalize }}</td>
                    <td><img src="{{ asset('media/eventos/') ~ item.imagen }}" alt="{{ item.titulo }}" style="width: 50px"></td>
                    <td><a href="{{ path('app_evento_put', {uid: item.uid}) }}"><i class="fa-solid fa-file-pen"></i></a></td>
                    <td><a href="{{ path('app_evento_delete', {uid: item.uid}) }}"><i class="fa-solid fa-circle-minus"></i></a></td>
                <tr>
            {% endfor %}
            
        </table>
        </div>
        {% endif %}
        
    </main>
{% endblock %}
