{% extends 'base.html.twig' %}
{% block title %} Gestión de recursos patrimoniales {% endblock %}
{% block main %}
    
    <main class="w-75 mx-auto mt-5 mb-5">
        
        <h2>Gestión de recursos patrimoniales</h2>
        <div class="messages">
            {% for message in app.flashes('aviso') %}
                 <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <a href="{{ path('app_patrimonio_post', {type: tipo }) }}"  class="btn btn-secondary-dark">Alta</a>
        {% if patrimonio is empty %}
            <p>Todavía no ha añadido ningún recurso patrimonial</p>
        {% else %}
        <table class="table">
            <th>Tipo</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Dirección</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Web</th>
            <th>Precio</th>
            <th>Horario</th>
            {% for item in patrimonio %}
                <tr>
                    <td>{{ tipo }}</td>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.descripcion }}</td>
                    <td>{{ item.direccion }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.telefono }}</td>
                    <td>{{ item.web }}</td>
                    <td>{{ item.precio }}</td>
                    <td>{{ item.horario }}</td>
                    <td><img src="{{ asset('media/patrimonio/') ~ item.imagen }}" alt="{{ item.nombre }}" style="width: 50px"</td>
                    <td><a href="{{ path('app_patrimonio_put', {type: tipo, uid: item.uid}) }}"><i class="fa-solid fa-file-pen"></i></a></td>
                    <td><a href="{{ path('app_patrimonio_delete', {type: tipo, uid: item.uid}) }}"><i class="fa-solid fa-circle-minus"></i></a></td>
                <tr>
            {% endfor %}
            
        </table>
            {% endif %}
    </main>
{% endblock %}