
{% extends 'base.html.twig' %}
{% block title %} Gastronomía de la localidad {% endblock %}
{% block main %}
    
    <main class="w-75 mx-auto mt-5 mb-5">
        <a href="{{path('app_admin_menu')}}">Volver</a>
        <h2>Gastronomía</h2>
        <div class="messages">
            {% for message in app.flashes('aviso') %}
                 <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="table-responsive-md">
        <table class="table">
            <th>Descripción</th>
            
            <th>Producto del mes</th>
                <tr>
                    <td>{{ gastronomia.descripcion }}</td>
                    
                    <td>
                    {% if gastronomia.productoMes is not null %}
                    {{ gastronomia.productoMes.nombre }}
                    {% else %}
                    Escoja un producto entre los existentes o cree uno nuevo
                    </td>
                    {% endif %}
                    <td><a href="{{ path('app_gastronomia_put', {uid: gastronomia.uid}) }}"><i class="fa-solid fa-file-pen"></i></a></td>
                <tr>
        </table>
        </div>
        <h3>Productos tipicos</h3>
        <a href="{{ path('app_producto_tipico_post', {uid: gastronomia.uid}) }}" class="btn btn-secondary-dark">Alta</a>
        {% if gastronomia.productosTipicos is empty %}
            <p>Todavía no se han añadido productos </p>
        {% else %}
        <div class="table-responsive-md">
        <table class="table">
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Imagen</th>
            <th>Receta</th>
            {% for item in gastronomia.productosTipicos %}
                <tr>
                <td>{{ item.nombre }}</td>
                <td>{{ item.descripcion }}</td>
                <td><img src="{{ asset('media/gastronomia/') ~ item.imagen }}" alt="{{ item.nombre }}" style="width:50px"></td>
                <td>{{ item.receta }}</td>
                <td><a href="{{ path('app_producto_tipico_put', {uid: item.uid}) }}"><i class="fa-solid fa-file-pen"></i></a></td>
                <td><a href="{{ path('app_producto_tipico_delete', {uid: item.uid}) }}"><i class="fa-solid fa-circle-minus"></i></a></td>
                </tr>
            {% endfor %}
        </table>
        </div>
        {% endif %}
        
    </main>
{% endblock %}
