{% extends 'base.html.twig' %}

{% block title %}Gastronomía{% endblock %}

{% block main %}
    <main class="mt-5 mb-5">
        <h2 class="text-center m-5">Gastronomia</h2>
        <section id="description" class="row w-75 p-5 m-0 d-flex justify-content-md-center m-auto">
           {% set paragraphs = gastronomia.descripcion | split('//') %}

                {% for p in paragraphs %}
                <p>{{ p }}<p>
                {% endfor %}
        </section>
        {% if gastronomia.productoMes is not null %}
        <section id="monthly-product" class="row w-100 p-5 m-0 d-flex justify-content-md-center">
            <div class="row w-75 m-auto">
                <div class="col-12 col-xl-4 p-4 d-flex justify-content-center">
                    <img src="{{asset('/media/gastronomia/') ~ gastronomia.productoMes.imagen}}" alt="gastronomia.productoMes.nombre">
                </div>
                <div class="col-12 col-xl-8 ps-3 d-flex align-content-center flex-column">
                    <h3>{{ gastronomia.productoMes.nombre }}</h3>
                    <p>{{ gastronomia.productoMes.descripcion }}</p>
                    <div class="see-more d-flex justify-content-center align-content-end mt-5">
                        <a href="{{ gastronomia.productoMes.receta }}" class="col-12 col-md-4 btn btn-secondary">Ver receta</a>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
        <section id="typical_products"class="w-75 mx-auto mt-5 mb-5">
            <h3 class="mb-3">Productos típicos de la zona</h3>
            {% if gastronomia.productosTipicos is empty %}
                    <p>Todavía no hay productos típicos </p>
                {% else %}
            <div class="row order-last m-auto w-75 list d-flex justify-content-center">
                
                {% for item in gastronomia.productosTipicos %}
                    <div class="col-12 col-md-6 col-lg-4 event d-flex align-content-stretch  mb-2">
                        <div class="card" style="width: 20rem;">
                            <img src="{{asset('/media/gastronomia/') ~ item.imagen}}" class="card-img-bottom" alt="{{item.nombre}}">
                            <div class="card-body">
                                <h5 class="card-title">{{item.nombre}}</h5>
                                <p>{{item.descripcion}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}
