{% extends 'base.html.twig' %}

{% block title %}Nueva visita guiada{% endblock %}

{% block main %}
    
    <main class="w-75 mx-auto mt-5 mb-5">
        <h2>Nueva visita guiada </h2>
        {{ form_start(formulario, {'attr': {'class': 'w-50 m-auto', 'id': 'form-visits'}} ) }}
         <div class="form_error">
                 {{ form_errors(formulario) }}
            </div>
             <div class="form-group">
                {{ form_row(formulario.titulo, {'attr': {'class': 'form-control mb-2'}} ) }}
            </div>
            <div class="form-group">
                {{ form_row(formulario.descripcion, {'attr': {'class': 'form-control mb-2'}} ) }}
            </div>
            <div>
                {{ form_row(formulario.fecha) }}
            </div>
            <div class="form-group">
                {{ form_row(formulario.precio, {'attr': {'class': 'form-control mb-2'}} ) }}
            </div>

            <div class="form-group">
                {{ form_row(formulario.oficinaTurismo, {'attr': {'class': 'form-select mb-2'}} ) }}
            </div>
            <div class="form-group">
                {{ form_row(formulario.guiaTurismo, {'attr': {'class': 'form-select mb-2'}} ) }}
            </div>
            <div class="form-group">
                {{ form_row(formulario.enviar, {'attr': {'class': 'form-control mb-2'}} ) }}
            </div>
            {{ form_end(formulario) }}
            
            
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
                $(document).ready(function(){
            $('#form-visits').on('submit', function(e){
                
                let guia = $('#form_guiaTurismo').val();
                let oficina = $('#form_oficinaTurismo').val();
                console.log(guia);
                console.log(oficina);
                if(oficina == '' && guia == ''){
                    $('.form_error').html(`<p>Tienes que escoger al menos un organizador</p>`);
                    e.preventDefault();
                    return;
                    
                }
            });
        });
    </script>
{% endblock %}