<!DOCTYPE html>
{% set route_name = app.request.attributes.get('_route') %}
<html>
    <head>
        <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <meta name="description" content="Página de consulta sobre turismo y eventos de Ciudad Real capital"/>
          <meta name="keywords" content="turismo, ciudad real, informacion"/>
          
        <title>
            {% block title %}Turismo en Ciudad Real
            {% endblock %}
        </title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
         {{ encore_entry_link_tags('app') }}
        <link rel="icon" href="{{ asset('media/icons/logoprov.ico') }}">
          <link rel="stylesheet" href="{{ asset('build/app.css') }}">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
                  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
            <link rel="stylesheet" href="{{asset('styles/scss/main.css')}}">
            <link rel="stylesheet" href="{{asset('styles/css/normalize.css')}}">
        {% endblock %}

        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
            <script src="{{asset('js/Common/Common.js')}}"></script>
            {{ encore_entry_script_tags('app') }}
            
        {% endblock %}
    </head>
    <body>
        <header id="header" class="sticky-top">
            <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between align-items-center">
                <div class="container-fluid w-100">
                    <div class="d-flex justify-content-lg-end gap-2 align-items-center order-first ">
                        <button class="navbar-toggler btn btn-transparent" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span>
                                <i class="fa-solid fa-bars" style="font-size: 30px; color:white"></i>
                                <i class="fa-solid fa-xmark d-none" style="font-size: 30px; color:white"></i>
                               
                            </span>
                        </button>
                        <a class="navbar-brand" href="{{ path('app_main_menu') }}"><img src="{{ asset('media/icons/logoprov.svg') }}" alt=" logo turismo enciudad real" style="height: 50px"></a>
                    </div>

                    <div class="collapse navbar-collapse order-last order-lg-1 align-items-center col-6"
                         id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link {%if route_name == 'app_main_menu'%} active {%endif%}" href="{{ path('app_main_menu') }}">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {%if route_name == 'app_historia_get'%} active {%endif%}" href="{{path('app_historia_get', {uid: 'c53169fa-e8ac-4bf4-8d21-0ef73678b489'})}}">Historia</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {%if route_name == 'app_see_menu'%} active {%endif%}" href="{{ path("app_see_menu") }}" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    Qué visitar
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{{ path('app_patrimonio_tipo_get', {type : 'cultural'}) }}">Patrimonio cultural</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_patrimonio_tipo_get', {type : 'natural'}) }}">Espacios naturales y arqueológicos</a></li>
                                    <li><a class="dropdown-item" href="{{path('app_museos_get')}}">Museos</a></li>
                                    <li><a class="dropdown-item" href="{{path('app_visitas_get')}}">Visitas guiadas</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link {%if route_name == 'app_gastronomía_get'%} active {%endif%} dropdown-toggle" href="{{ path("app_gastronomia_get", {uid: '82248df0-b2ec-4a3d-a4b2-655b9e8f7af9'}) }}" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    Gastronomía
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{{ path("app_gastronomia_get", {uid: '82248df0-b2ec-4a3d-a4b2-655b9e8f7af9'}) }}">Gastronomía de la zona</a></li>
                                    <li><a class="dropdown-item" href="{{ path("app_gastronomia_get", {uid: '82248df0-b2ec-4a3d-a4b2-655b9e8f7af9'}) }}#typical_products">Productos típicos</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {%if route_name == 'app_eventos_get'%} active {%endif%}" href="{{path ("app_eventos_get")}}">Ocio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {%if route_name == 'app_oficina_get'%} active {%endif%}" href="{{ path("app_oficina_get", {uid: 'aaf165e2-ed80-4e3f-b8ce-3b4f9488c4ea'}) }}">Contacto</a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item">
                                    <a class="nav-link {%if route_name == 'app_admin_menu'%} active {%endif%} " href="{{ path("app_admin_menu") }}">Gestión</a>
                                </li>
                            {% endif %}

                        </ul>
                    </div>
                    <div class="d-flex col-lg-3 col-7 justify-content-end gap-2 align-self-start align-items-center order-lg-last">
                        <div class="d-flex gap-3">
                            {% if app.user is not null %}
                                <a href="{{ path('app_usuario_get', {uid:app.user.uid}) }}" class="d-flex flex-row gap-2 align-items-center" id="user"><i class="fa-solid fa-house-user"></i></a>
                                <a href="{{ path('app_logout') }}" class="btn btn-outline-primary d-flex flex-row gap-2 align-items-center"><i class="fa-solid fa-arrow-right-from-bracket" style="font-size: 2rem"></i><span
                                        class="d-none d-lg-inline"> LOGOUT </span></a>

                            {% else %}
                                <a href="{{ path('app_login') }}" class="btn btn-outline-primary d-flex flex-row gap-2 align-items-center"><i class="fa-regular fa-user" style="font-size: 2rem"></i><span
                                        class="d-none d-lg-inline"> LOGIN </span></a>
                                    {% endif %}
                        </div>
                    </div>
                </div>
            </nav>

        </header>
        {% block carousel %}{% endblock %}

        {% block main %}
        {% endblock %}

        <footer id="footer" class="pt-3 m-0">
            <div class="row w-100 d-flex text-center">
                <div class="col-12 col-md-4 p-0 m-0">
                    <h4>Navegar</h4>
                    <ul class="list-unstyled">
                        <li><a href="{{path('app_historia_get', {uid: 'c53169fa-e8ac-4bf4-8d21-0ef73678b489'})}}">Historia</a></li>
                        <li><a href="{{ path("app_see_menu") }}">Qué visitar</a></li>
                        <li><a href="{{ path("app_gastronomia_get", {uid: '82248df0-b2ec-4a3d-a4b2-655b9e8f7af9'}) }}">Gastronomía</a></li>
                        <li><a href="{{path ("app_eventos_get")}}">Ocio</a></li>
                        <li><a href="{{ path("app_oficina_get", {uid: 'aaf165e2-ed80-4e3f-b8ce-3b4f9488c4ea'}) }}">Cómo llegar</a></li>
                        
                    </ul>
                </div>
                <div class="col-12 col-md-4 p-0 m-0">
                    <h4>Contacto</h4>
                    <p><i class="fa-solid fa-phone"></i>926 21 64 86</p>
                    <p> <i class="fa-solid fa-at"></i> turismo@ciudadreal.es</p>
                    <p> <i class="fa-solid fa-map-location"></i> Plaza Mayor, 1</p>
                </div>
                <div class="col-12 col-md-4 p-0 m-0">
                    <h4>Síguenos</h4>
                    <p>
                        <a href="https://www.instagram.com/turismociudadreal/?hl=es"><i class="fa-brands fa-instagram" style="font-size: 1.4rem;"></i></a>
                        <a href="https://www.facebook.com/ciudad.turismo/"><i class="fa-brands fa-facebook-f" style="font-size: 1.4rem;"></i></a>
                    </p>
                </div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bs5-lightbox@1.8.0/dist/index.bundle.min.js"></script>
    </body>
</html>
