{% extends 'base.html.twig' %}

{% block title %}Ocio
{% endblock %}

{% block main %}
    <main class="w-75 mx-auto mt-5 mb-5">
        <h2 class="text-center m-5">Ocio</h2>
        <section class="row d-flex" id="events">
            <div class="col-12 col-md-5 order-1 d-inline-flex justify-content-end h-50 mb-3">
                {{form_start(formMeses, {'attr': {'id': 'form_meses'}})}}
                {{form_widget(formMeses.mes, { 'attr' : { 'class' : 'form-select' } })  }}
                {{form_end(formMeses)}}
            </div>
            <h3 class="month-chosen col-12 col-md-7 order-0">
                {% if mesEscogido is defined %}
                    {{ mesEscogido |capitalize}}
                {% else %}
                    {{ mesActual |capitalize }}
                {% endif %}
            </h3>
            <div class="col-12 mb-3 order-2 w-50 m-auto d-flex justify-content-center">
                {{form_start(formTipos, {'attr': {'id': 'form_tipos'}})}}
                <div class="form-check form-check-inline">
                    {{form_row(formTipos.tipo[0], {'attr': {'class': 'form-check-input'}})}}
                </div>
                <div class="form-check form-check-inline">
                    {{form_row(formTipos.tipo[1], {'attr': {'class': 'form-check-input'}})}}
                </div>
                <div class="form-check form-check-inline">
                    {{form_row(formTipos.tipo[2], {'attr': {'class': 'form-check-input'}})}}
                </div>
                {{form_end(formTipos)}}
            </div>

            <div class="row order-last m-auto w-100">
                <div id="all-events" class="col-12 d-flex justify-content-center">
                    {% for item in eventos %}
                        <div class="col-12 col-md-6 col-lg-4 event d-flex align-content-stretch mb-2 justify-content-center">
                            <div class="card" style="width: 20rem;">
                                <img src="{{asset('/public/media/') ~ item.imagen}}" class="card-img-bottom" alt="cartel del evento">
                                <div class="card-body">
                                    <h5 class="card-title">{{ item.titulo }}</h5>
                                    <p>{{ item.descripcion }}</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{ item.fecha | date("Y-m-d")  }}</li>
                                    <li class="list-group-item">
                                        {% if item.precio is null and item.precio is empty %}
                                            Gratuita
                                        {% else %}
                                            {{ item.precio }}
                                        {% endif %}
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge
                                              {% if item.tipoEvento == 'deportivo' %}
                                                  badge-sucess

                                              {% elseif item.tipoEvento == 'cultural' %}
                                                  badge-danger
                                              {% else %}
                                                  badge-alert
                                              {% endif %}
                                              text-capitalize">{{ item.tipoEvento }}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                        <div id="search-results"  class="col-12 d-flex justify-content-center d-none">
                            <p id="no-results" class="d-none">No hay resultados que coincidan con tu búsqueda<p>
                        </div>
                
            </div>
                    </section>
                    </main>
                {% endblock %}
                {% block javascripts %}
                    {{ parent() }}
                    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
                    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
                    <script>

                        $(document).ready(function () {
                            $('#form_tipos').on('change', function (e) {
                                let types = [];
                                $(":checkbox").each(function () {
                                    var ischecked = $(this).is(":checked");
                                    if (ischecked) {
                                        types.push($(this).val());
                                    }
                                });
                                //console.log(types.length)
                                //console.log(types)
                                let monthSelected = $('#form_mes').children("option:selected").val();
                                console.log(monthSelected);

                                let url = Routing.generate('app_eventos_type_get');

                                $.ajax({
                                    type: 'POST',
                                    url: url,
                                    dataType: 'JSON',
                                    data: JSON.stringify({month: monthSelected, types: types}),
                                    success: function (response) {
                                        console.log(response)
                                        $('#all-events').remove();
                                        $('#search-results').html(response.response);
                                        $('#search-results').removeClass('d-none');
                                    }
                                });
                            });
                        });

                    </script>
                {% endblock %}
