{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{%block carousel %}
    <!-- carousel -->
    <div id="carouselIndexCrossfade" class="carousel slide carousel-fade" data-mdb-slide="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselIndexCrossfade" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselIndexCrossfade" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselIndexCrossfade" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <!-- Para hacer el carrousel responsive usaremos tres tamaños de imagen
                <img src="2.jpg" class=" w-100 d-none d-lg-block" alt="...">
                <img src="2md.jpg" class="d-none d-sm-block d-lg-none w-100" alt="...">
                <img src="2sm.jpg" class="d-block d-sm-none w-100" alt="...">
                -->
                <img src="{{ asset('media/carousel/alarcos.webp') }}" class="d-block w-100" alt="parque arqueológico de alarcos" />
            </div>
            <div class="carousel-item">
                <img src="{{ asset('media/carousel/atalaya.webp') }}" class="d-block w-100" alt="parque forestal de la atalaya" />
            </div>
            <div class="carousel-item">
                <img src="{{ asset('media/carousel/museo provincial.webp') }}" class="d-block w-100" alt="museo provincial de ciudad real" />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndexCrossfade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselIndexCrossfade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- fin carousel -->
{% endblock %}

{% block main %}
    <main class="w-75 mx-auto mt-5 mb-5">
        <div class="messages">
            {% for message in app.flashes('seguridad') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
        </div>

        <section id="visitingthecity" class="row menu-container">
            <h3 class="col-12 mb-3 d-flex align-items-center"><span class="title-icon me-2 mb-3">»</span>¿Por dónde empezamos?
            </h3>
            <div class="col-12 col-lg-4 col-md-6 menu-item img__wrap text-center">
                <img src="{{ asset('media/menus/toledo-menu.webp')}}" class="img__img" alt="menu historia">
                <div class="img__description_layer">
                    <a href="{{path('app_historia_get', {uid: 'c53169fa-e8ac-4bf4-8d21-0ef73678b489'})}}" class="img__description">Historia</a>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 menu-item img__wrap text-center">
                <img src="{{ asset('media/menus/santiago-menu.webp') }}" class="img__img" alt="menu que visitar">
                <div class="img__description_layer">
                    <a href="{{ path("app_see_menu") }}"class="img__description">Qué visitar</a>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 menu-item img__wrap text-center">
                <img src="{{ asset('media/menus/gastronomia-menu.webp') }}" class="img__img" alt="menu gastronomia">
                <div class="img__description_layer">
                    <a href="{{ path("app_gastronomia_get", {uid: '82248df0-b2ec-4a3d-a4b2-655b9e8f7af9'}) }}" class="img__description">Gastronomía</a>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 menu-item img__wrap text-center">
                <img src="{{ asset('media/menus/ocio-menu.webp') }}" class="img__img" alt="menu ocio">
                <div class="img__description_layer">
                    <a href="{{ path("app_eventos_get") }}" class="img__description">Ocio</a>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 menu-item img__wrap text-center">
                <img src="{{ asset('media/menus/contacto-menu.webp') }}" class="img__img" alt="menu contacto">
                <div class="img__description_layer">
                    <a href="{{ path("app_oficina_get", {uid: 'aaf165e2-ed80-4e3f-b8ce-3b4f9488c4ea'}) }}" class="img__description">Contacto</a>
                </div>
            </div>

        </section>
    </main>
{% endblock %}
