{% extends 'base.html.twig' %}

{% block title %}Añadir museo{% endblock %}

{% block main %}
    
    <main class="w-75 mx-auto mt-5 mb-5">
    <a href="{{ path('admin_museos_get') }}">Volver a museos</a>
            {{ form_start(formulario, {'attr': {'class': 'w-75 m-auto'}} ) }}
             <div class="form_error">
                 {{ form_errors(formulario) }}
            </div>
            <p>Separe los diferentes párrafos con '//'</p>
            <div class="form-group">
                {{ form_row(formulario.nombre, {'attr': {'class': 'form-control mb-4'}} ) }}
            </div>
            <div class="form-group">
                {{ form_row(formulario.descripcion, {'attr': {'class': 'form-control mb-4'}} ) }}
            </div>
            <div class="form-group">
                {{ form_row(formulario.direccion, {'attr': {'class': 'form-control mb-4'}} ) }}
            </div>
            <div class="form-group">
                {{ form_row(formulario.telefono, {'attr': {'class': 'form-control mb-4'}} ) }}
            </div>
            <div class="form-group">
                {{ form_row(formulario.email, {'attr': {'class': 'form-control mb-4'}} ) }}
            </div>
            <div class="form-group">
                {{ form_row(formulario.web, {'attr': {'class': 'form-control mb-4'}} ) }}
            </div>
            <div class="form-group">
                {{ form_row(formulario.horario, {'attr': {'class': 'form-control mb-4'}} ) }}
            </div>
            <div class="form-group">
                {{ form_row(formulario.precio, {'attr': {'class': 'form-control mb-4'}} ) }}
            </div>
            <div class="form-group">
                {{ form_row(formulario.imagen, {'attr': {'class': 'form-control mb-4'}} ) }}

            </div>
            <div class="form-group">
                {{ form_row(formulario.enviar, {'attr': {'class': 'btn btn-primary w-100 my-4 m-auto'}} ) }}
                <p>(*) Campo obligatorio </p>
            </div>
            {{ form_end(formulario) }}
    </main>
{% endblock %}

